/* Add CSS Styling */

.odd {
    background-color: #ffb6c1;
    font-family: verdana, 'DejaVu Sans', sans-serif;
}

.three {
    font-size: 24px;

}

#two {
    color: #3e0ec2;
    font-size: 36px;
}

#four {
    background-color: hsl(120, 73%, 75%);
    font-size: 24px;
    font-weight: bold;
}
