/* Add CSS Styling */
.black, .yellow {
        font-size: 28px;
        font-family: Helvetica, 'Times New Roman', sans-serif;
}

.black {
    background-color: hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);
}

.yellow {
    background-color: yellow;
}